.image-with-caption {
  display: grid;
  align-items: center;
  align-content: flex-start;
  gap: 1.5rem;
  position: relative;
  max-width: var(--image-max-width, 100%);
  border-radius: $border-radius;
  overflow: hidden;

  &:hover {
    cursor: pointer;

    & .image-with-caption__image {
      transform: scale(1.01);

      @include breakpoint(small) {
        transform: none;
      }
    }
  }

  @include breakpoint(medium) {
    max-width: 100%;
  }

  @include breakpoint(small) {
    gap: 0.5rem;
  }

  &__image {
    object-fit: contain;
    width: 100%;
    height: auto;
    transition: transform 0.35s ease-in-out;
  }

  &__modal {
    position: absolute;
    font-weight: 500;
  }
}

.__react_modal_image__header {
  display: grid;
  padding: 0.5rem 1.5rem;
  align-items: center;
  grid-template-columns: 1fr max-content;

  & > :first-child {
    order: 2;
  }
}