.image-with-caption {
  display: grid;
  align-items: center;
  align-content: flex-start;
  gap: 1.5rem;
  position: relative;
  max-width: var(--image-max-width, 100%);

  @include breakpoint(medium) {
    max-width: 100%;
  }

  @include breakpoint(small) {
    gap: 0.5rem;
  }

  &__image {
    object-fit: contain;
    width: 100%;
    height: auto;
  }

  &__caption {
    font-family: var(--font-satoshi), sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02rem;

    @include breakpoint(small) {
      font-size: 0.65rem;
    }
  }

  &--even {
    width: calc(50% - 1rem);
  }
}