.other-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9rem;
  padding-top: 2rem;
  width: 100%;

  @include breakpoint(medium) {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  @include breakpoint(small) {
    gap: 1rem;
    padding-top: 1.5rem;
  }

  &__header {
    display: grid;
    align-content: flex-start;
    justify-items: flex-start;
    gap: 2rem;
  }

  &__content {
    display: grid;
    gap: 2rem;
  }

  &__thumbnail {
    height: 25rem;
    object-fit: cover;
  }
}