@use "../abstract/index" as a;

@-moz-document url-prefix() {
  html {
    scroll-padding-top: 280px;
  }
}

body {
  background-color: a.$clr-white;
}

ul,
ol {
  list-style: none;
}

img,
picture img,
picture source {
  border-radius: a.$border-radius;
}

hr {
  border: 1.25px solid;
  opacity: 20%;
  border-radius: a.$border-radius;
}

html.lenis, html.lenis body {
  height: auto;
}

mark {
  background-color: transparent;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none !important;
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: clip-path;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 10000;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}