@use "../abstract/index" as a;

// Global Styles
li {
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

p, dt, dd, li {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.7;
  white-space: pre-line;
  max-width: 65ch;

  @include a.breakpoint(x-large) {
    font-size: 1rem;
  }

  @include a.breakpoint(medium) {
    max-width: unset;
  }

  @include a.breakpoint(small) {
    font-size: 0.9rem;
  }
}

// Heading Styles
.heading-xl {
  color: a.$clr-black;
  font-size: clamp(1rem, 13.75vw, 23.5rem);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -0.35rem;
  text-align: center;
  position: relative;
  padding-right: 1rem;

  @include a.breakpoint(large) {
    font-size: clamp(1rem, 13.5vw, 23.5rem);
    letter-spacing: -0.25rem;
  }

  @include a.breakpoint(medium) {
    font-size: clamp(1rem, 20vw, 23.5rem);
  }

  @include a.breakpoint(small) {
    letter-spacing: -0.15rem;
  }
}

.heading-lg {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.09rem;
  line-height: 1.25;

  @include a.breakpoint(medium) {
    font-size: 2.5rem;
    letter-spacing: -0.1rem;
  }

  @include a.breakpoint(x-small) {
    font-size: 2.25rem;
  }
}

.heading-md {
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.25;

  @include a.breakpoint(medium) {
    font-size: 1.875rem;
    letter-spacing: -0.1rem;
  }

  @include a.breakpoint(x-small) {
    font-size: 1.5rem;
  }
}

.heading-sm {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.005rem;

  @include a.breakpoint(medium) {
    font-size: 1.15rem;
  }
}

.heading-xs {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.025rem;

  @include a.breakpoint(medium) {
    font-size: 1.25rem;
  }

  @include a.breakpoint(small) {
    font-size: 1.15rem;
  }
}

.heading-xxs {
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;

  @include a.breakpoint(medium) {
    font-size: 0.75rem;
  }
}

// Font Weight
.normal {font-weight: 400;}
.medium {font-weight: 500;}
.semi-bold {font-weight: 600;}
.bold {font-weight: 700;}
.black {font-weight: 900;}

// Text Transform
.text-transform-unset {
  text-transform: unset;
}

// Custom Typography
.link {
  padding-bottom: 8px;
  background-image: linear-gradient(a.$clr-white, a.$clr-black);
  background-size: 0 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 0.36s ease-in-out;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.02rem;
  line-height: 1.7;

  @include a.breakpoint(small) {
    font-size: 1.1rem;
  }

  &:hover {
    background-size: 100% 3px;
  }
}

.quote {
  font-size: 1.15rem;
  font-weight: 500;
  color: var(--theme-color);

  @include a.breakpoint(large) {
    font-size: 1.05rem;
  }

  @include a.breakpoint(medium) {
    font-size: 1rem;
  }

  @include a.breakpoint(small) {
    font-size: 0.9rem;
  }
}

.quote-lg {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--theme-color);

  @include a.breakpoint(large) {
    font-size: 1.20rem;
  }

  @include a.breakpoint(medium) {
    font-size: 1.10rem;
  }

  @include a.breakpoint(small) {
    font-size: 1rem;
  }
}