@use "../abstract/index" as a;

// Global Styles
li {
  color: inherit;
}

a {
  font-family: var(--font-satoshi), sans-serif;
  color: inherit;
  text-decoration: none;
}

p {
  font-family: var(--font-satoshi), sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.7;
  white-space: pre-line;

  @include a.breakpoint(small) {
    font-size: 0.9rem;
  }
}

// Heading Styles
.heading-xl {
  font-family: var(--font-satoshi), sans-serif;
  font-size: clamp(1rem, 14.25vw, 23.5rem);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -1.25rem;
  line-height: 1;
  text-align: center;
  position: relative;
  right: 1rem;

  @include a.breakpoint(large) {
    font-size: clamp(1rem, 14.5vw, 23.5rem);
    letter-spacing: -1.0rem;
  }

  @include a.breakpoint(medium) {
    font-size: 8rem;
    letter-spacing: -0.48rem;
    text-align: left;
  }

  @include a.breakpoint(small) {
    font-size: 5rem;
  }
}

.heading-lg {
  font-family: var(--font-satoshi), sans-serif;
  font-size: 3.25rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.16rem;
  line-height: 1.25;

  @include a.breakpoint(medium) {
    font-size: 2.625rem;
  }

  @include a.breakpoint(small) {
    font-size: 2.25rem;
  }
}

.heading-md {
  font-family: var(--font-satoshi), sans-serif;
  font-size: 2.75rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.06rem;

  @include a.breakpoint(medium) {
    font-size: 2.5rem;
  }

  @include a.breakpoint(small) {
    font-size: 2rem;
  }
}

.heading-sm {
  font-family: var(--font-satoshi), sans-serif;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.045rem;

  @include a.breakpoint(medium) {
    font-size: 1.75rem;
  }

  @include a.breakpoint(small) {
    font-size: 1.5rem;
  }
}

.heading-xs {
  font-family: var(--font-satoshi), sans-serif;
  font-size: 1.75rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.015rem;

  @include a.breakpoint(medium) {
    font-size: 1.5rem;
  }

  @include a.breakpoint(small) {
    font-size: 1.25rem;
  }
}

// Font Weight
.bold {
  font-weight: 700;
}

// Custom Typography
.link {
  padding-bottom: 8px;
  background-image: linear-gradient(a.$clr-white, a.$clr-black);
  background-size: 0 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 0.36s ease-in-out;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.02rem;
  line-height: 1.7;

  @include a.breakpoint(small) {
    font-size: 0.9rem;
  }

  &:hover {
    background-size: 100% 3px;
  }
}

.quote {
  font-family: var(--font-erode), serif;
  font-size: 1.1rem;
  line-height: 1.75;
  font-style: italic;
  font-weight: 600;
}

.quote-main {
  font-family: var(--font-erode), serif;
  font-size: 1.4rem;
  line-height: 1.75;
  font-style: italic;
  font-weight: 600;

  @include a.breakpoint(small) {
    font-size: 1rem;
  }
}