@use "../abstract" as a;

.grid-bleed {
  display: grid;
  grid-template-columns: 1fr min(100% - 10rem * 2, 100rem) 1fr;

  @include a.breakpoint(large) {
    grid-template-columns: 1fr calc(100% - 6rem * 2) 1fr;
  }

  @include a.breakpoint(medium) {
    grid-template-columns: 1fr calc(100% - 2rem * 2) 1fr;
  }

  @include a.breakpoint(small) {
    grid-template-columns: 1fr calc(100% - 1rem * 2) 1fr;
  }

  & > * {
    grid-column: 2;
  }
}

.grid-bleed-small {
  display: grid;
  grid-template-columns: 1fr min(100% - 2rem * 2, 160rem) 1fr;

  @include a.breakpoint(medium) {
    grid-template-columns: 1fr calc(100% - 2rem * 2) 1fr;
  }

  @include a.breakpoint(small) {
    grid-template-columns: 1fr calc(100% - 1rem * 2) 1fr;
  }

  & > * {
    grid-column: 2;
  }
}