@use "../abstract/index" as a;

:root {
  --theme-color: #6A7D8B;
  --light-theme-color: #c2c7cc;
  --dark-theme-color: #3D4A5A;
}

.accent-color {
  color: var(--theme-color);
}

.accent-color-light {
  color: var(--light-theme-color);
}

.accent-color-dark {
  color: var(--dark-theme-color);
}

.accent-color-bg {
  background-color: var(--theme-color);
}

.accent-color-light-bg {
  background-color: var(--light-theme-color);
}

.accent-color-dark-bg {
  background-color: var(--dark-theme-color);
}