@use "../abstract/index" as a;

:root {
  --theme-color: #507A5C;
  --light-theme-color: #8AD1A0;
  --dark-theme-color: #4A7256;
}

.accent-color {
  color: var(--theme-color);
}

.accent-color-light {
  color: var(--light-theme-color);
}

.accent-color-dark {
  color: var(--dark-theme-color);
}