.case-study-section {
  &__section {
    display: grid;
    gap: 1.5rem;
  }

  &__sub-section {
    display: grid;
    grid-column: 1/-1;

    &:not(:has(.image-gallery, .figma-frame)){
      padding: 2rem;
      background-color: $clr-grey-35;
      border-radius: $border-radius;
    }

    &:has(.image-gallery, .figma-frame) {
      width: 100%;
    }

    @include breakpoint(medium) {
      padding: 1rem;
    }
  }

  &__sub-section-container {
    display: grid;
    gap: 4rem;
  }
}