.case-study-section {
  &__section {
    display: grid;
    gap: 3rem;

    @include breakpoint(small) {
      gap: 1.5rem;
    }
  }

  &__sub-section {
    display: grid;
    justify-items: center;
    gap: 3rem;
    margin: 0 4rem;
    padding: 4.5rem 4rem;
    background-color: rgba(196, 196, 196, 0.35);

    @include breakpoint(x-large) {
      margin: 0 3rem;
      padding: 4rem 3.5rem;
    }

    @include breakpoint(medium) {
      padding: 2.5rem 2rem;
      margin: 0;
    }

    @include breakpoint(small) {
      gap: 1.5rem;
    }

    @include breakpoint(x-small) {
      padding: 1.5rem;
      gap: 1.5rem;
    }
  }
}