.image-gallery {
  display: grid;
  gap: 2rem;

  @include breakpoint(medium) {
    margin: 0 5rem;
    gap: 2.5rem;
  }

  @include breakpoint(small) {
    margin: 0 2rem;
    gap: 2.5rem;
  }

  @include breakpoint(x-small) {
    margin: 0;
    gap: 2.5rem;
  }
}