.image-gallery {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(var(--column-num), 1fr);
  gap: 0.5rem;
  width: 100%;

  @include breakpoint(medium) {
    grid-template-columns: repeat(var(--tablet-column-num), 1fr);
  }
}