.image-row {
  display: grid;
  justify-items: center;
  align-items: flex-start;
  align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  width: 100%;
  gap: 2rem;

  @include breakpoint(medium) {
    grid-template-columns: 1fr;
  }
}