.button {
  display: flex;
  justify-content: center;
  border: none;
  text-transform: uppercase;
  border-radius: $border-radius;
  transition: all 0.2s ease-in-out;
  font-family: "Satoshi", sans-serif;
  font-weight: 900;

  &:hover:not(:disabled) {
    transform: scale(1.05);
    cursor: pointer;
  }

  //Color
  &--white {
    background-color: $clr-white;
    color: $clr-black;

    &:hover:not(:disabled) {
      opacity: 0.85;
    }
  }

  &--black {
    background-color: $clr-black;
    color: $clr-white;

    &:hover:not(:disabled) {
      opacity: 0.85;
    }
  }

  &--accent-dark {
    background-color: var(--light-theme-color);
    color: $clr-black;

    &:hover:not(:disabled) {
      opacity: 0.85;
    }
  }

  &--accent-light {
    background-color: var(--theme-color);
    color: $clr-white;

    &:hover:not(:disabled) {
      background-color: var(--dark-theme-color);
    }
  }

  // Sizes
  &--sm {
    font-size: 0.9rem;
    letter-spacing: 0.01rem;
    padding: 0.5rem 1.25rem;
  }

  &--md {
    padding: 0.75rem 2rem;

    @include breakpoint(large) {
      font-size: 0.9rem;
      padding: 0.65rem 1.75rem;
    }

    @include breakpoint(medium) {
      padding: 0.65rem 1.5rem;
    }

    @include breakpoint(x-small) {
      font-size: 0.85rem;
      padding: 0.60rem 1.25rem;
    }
  }

  &--lg {
    font-size: 1.1rem;
    padding: 1rem 3rem;

    @include breakpoint(large) {
      padding: 0.85rem 2.75rem;
    }

    @include breakpoint(medium) {
      padding: 0.75rem 2.5rem;
    }

    @include breakpoint(x-small) {
      padding: 0.65rem 2rem;
    }
  }
}