.button {
  display: flex;
  justify-content: center;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: $border-radius;
  transition: all 0.15s ease-in-out;

  &:hover:not(:disabled) {
    transform: scale(1.05);
    cursor: pointer;
  }

  //Color
  &--white {
    background-color: $clr-white;
    color: $clr-black;

    &:hover:not(:disabled) {
      opacity: 0.85;
    }
  }

  &--green-dark {
    background-color: $clr-green-light;
    color: $clr-black;

    &:hover:not(:disabled) {
      opacity: 0.85;
    }
  }

  &--green-light {
    background-color: $clr-green;
    color: $clr-white;

    &:hover:not(:disabled) {
      background-color: $clr-green-dark;
    }
  }

  &--brown-dark {
    background-color: $clr-brown-light;
    color: $clr-black;

    &:hover:not(:disabled) {
      opacity: 0.85;
    }
  }

  &--brown-light {
    background-color: $clr-brown;
    color: $clr-white;

    &:hover:not(:disabled) {
      background-color: $clr-brown-dark;
    }
  }

  &--purple-dark {
    background-color: $clr-purple-light;
    color: $clr-black;

    &:hover:not(:disabled) {
      opacity: 0.85;
    }
  }

  &--purple-light {
    background-color: $clr-purple;
    color: $clr-white;

    &:hover:not(:disabled) {
      background-color: $clr-purple-dark;
    }
  }

  &--red-dark {
    background-color: $clr-red-light;
    color: $clr-black;

    &:hover:not(:disabled) {
      opacity: 0.85;
    }
  }

  &--red-light {
    background-color: $clr-red;
    color: $clr-white;

    &:hover:not(:disabled) {
      background-color: $clr-red-dark;
    }
  }

  // Sizes
  &--sm {
    font-size: 0.9rem;
    letter-spacing: 0.01rem;
    padding: 0.65rem 1.25rem;

    @include breakpoint(large) {
      font-size: 0.85rem;
      padding: 0.55rem 1rem;
    }

    @include breakpoint(medium) {
      padding: 0.75rem 2.5rem;
    }
  }

  &--md {
    padding: 0.75rem 2rem;

    @include breakpoint(large) {
      font-size: 0.9rem;
      padding: 0.65rem 1.75rem;
    }

    @include breakpoint(medium) {
      padding: 0.65rem 1.5rem;
    }

    @include breakpoint(x-small) {
      font-size: 0.85rem;
      padding: 0.60rem 1.25rem;
    }
  }

  &--lg {
    font-size: 1.1rem;
    padding: 1rem 3rem;

    @include breakpoint(large) {
      padding: 0.85rem 2.75rem;
    }

    @include breakpoint(medium) {
      padding: 0.75rem 2.5rem;
    }

    @include breakpoint(x-small) {
      padding: 0.65rem 2rem;
    }
  }
}