.persona {
  display: grid;
  width: 100%;
  max-width: 85rem;
  gap: 2rem;

  @include breakpoint(medium) {
    padding: 2rem;
  }

  @include breakpoint(small) {
    padding: 1.5rem;
  }

  @include breakpoint(x-small) {
    padding: 1rem;
  }

  &__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;

    @include breakpoint(medium) {
      gap: 2rem;
      grid-template-columns: 1fr;
    }
  }

  &__bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;

    @include breakpoint(small) {
      grid-template-columns: 1fr;
    }
  }

  &__image-container {
    position: relative;
  }

  &__image {
    max-height: 26rem;
    width: 100%;
    justify-self: center;

    @include breakpoint(small) {
      max-width: unset;
    }
  }

  &__info {
    display: grid;
    align-content: space-between;
    gap: 3rem;

    @include breakpoint(medium) {
      gap: 2rem;
    }

    & > ul {
      display: grid;
      gap: 0.5rem;
    }
  }

  &__quote {
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 600;

    @include breakpoint(medium) {
      font-size: 1.15rem;
    }

    @include breakpoint(small) {
      font-size: 1.05rem;
    }
  }

  &__list {
    display: grid;
    gap: 0.5rem;

    & > ul {
      list-style: inside;
      display: grid;
      gap: 0.5rem;
    }

    p {
      display: inline;
    }
  }
}