.list {
  display: grid;
  align-content: flex-start;

  &__meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    padding: 2rem 0;
    text-align: right;

    @include breakpoint(small) {
      display: grid;
      gap: 0.25rem;
      padding: 1.5rem 0;
      text-align: left;
    }

    & > p:first-child {
      opacity: 0.75;
    }
  }

  &__item {
    display: flex;
    gap: 1rem;
    padding: 2rem 0;

    @include breakpoint(small) {
      padding: 1.5rem 0;
    }
  }

  &__index {
    font-weight: 400;
    opacity: 0.5;
  }

  &__item-content {
    display: grid;
    gap: 0.5rem;

    & > p:first-child {
      font-weight: 700;
    }
  }
}