.list {
  display: grid;
  align-content: flex-start;
  width: 100%;
  gap: 1.5rem;

  @include breakpoint(medium) {
    gap: 1rem;
  }

  & > :not(:last-child ) {
    padding-bottom: 1.5rem;
    border-bottom: 2px solid $clr-black-20;

    @include breakpoint(medium) {
      padding-bottom: 1rem;
    }
  }

  &--meta {
    grid-template-columns: 1fr 1fr;
    column-gap: 0;

    @include breakpoint(medium) {
      grid-template-columns: 1fr;
    }
  }

  &__divider {
    &--meta {
      grid-column: 1/-1;
    }
  }
}