.meta-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  @include breakpoint(small) {
    display: grid;
    gap: 0.75rem;
  }

  &__term {
    text-align: left;
    font-weight: 400;
    opacity: 0.75;
  }

  &__definition {
    text-align: right;

    @include breakpoint(small) {
      text-align: left;
    }
  }
}