.skills-list {
  display: grid;
  row-gap: 1.25rem;

  @include breakpoint(small) {
    row-gap: 1rem;
  }

  &__type {
    display: grid;
    align-content: flex-start;
    gap: 4rem;

    @include breakpoint(small) {
      gap: 2rem;
    }

    & > section {
      display: grid;
      justify-items: flex-start;
      gap: 0.75rem;
    }
  }

  &__skill-info {
    display: grid;
    gap: 2.5rem;
    width: 100%;

    @include breakpoint(medium) {
      gap: 2rem;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    width: 100%;

    @include breakpoint(medium) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include breakpoint(small) {
      grid-template-columns: 1fr 1fr;
    }

    @include breakpoint(x-small) {
      grid-template-columns: 1fr;
    }
  }

  &__skill {
    display: grid;
    align-items: flex-end;
    grid-template-columns: 1fr max-content;
    position: relative;
    padding: 6rem 1rem 1rem;
    background-color: $clr-grey-35;
    border-radius: $border-radius;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    overflow: hidden;

    &:hover {
      background-color: var(--hover-color);
    }
  }

  &__icon {
    height: 10rem;
    width: 10rem;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: rotate(15deg) translateY(-50%);
    opacity: 50%;
    user-select: none;

    @include breakpoint(large) {
      height: 8rem;
      width: 8rem;
    }

    @include breakpoint(medium) {
      right: 50%;
      height: 16rem;
      width: 16rem;
      opacity: 15%;
      transform: rotate(15deg) translate(50%, -50%);
    }
  }
}