.skills-list {
  display: grid;
  row-gap: 1.25rem;

  @include breakpoint(small) {
    row-gap: 1rem;
  }

  &__type {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: flex-start;
    gap: 3rem;

    @include breakpoint(medium) {
      grid-template-columns: 1fr;
      gap: 2rem;
    }

    & > section {
      display: grid;
      align-content: flex-start;
      justify-items: flex-start;
      gap: 0.75rem;
    }
  }

  &__skill-info {
    display: grid;
    gap: 2.5rem;
    width: 100%;

    @include breakpoint(medium) {
      gap: 2rem;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;

    @include breakpoint(medium) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include breakpoint(small) {
      grid-template-columns: 1fr 1fr;
    }

    @include breakpoint(x-small) {
      grid-template-columns: 1fr;
    }
  }

  &__skill {
    display: grid;
    align-items: flex-end;
    grid-template-columns: 1fr max-content;
    position: relative;
    padding: 4rem 1rem 1rem;
    background-color: $clr-grey-35;
    border-radius: $border-radius;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    overflow: hidden;

    &:hover {
      background-color: var(--hover-color);

      .skills-list__icon {
        transform: rotate(15deg) translateY(-50%) scale(1.1);

        @include breakpoint(medium) {
          transform: rotate(5deg) translate(50%, -50%) scale(1.1);
        }
      }
    }
  }

  &__icon {
    height: 8rem;
    width: 8rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: rotate(25deg) translateY(-50%);
    opacity: 50%;
    user-select: none;
    will-change: transform;
    transition: transform 0.15s ease-in-out;

    @include breakpoint(large) {
      height: 6rem;
      width: 6rem;
    }

    @include breakpoint(medium) {
      right: 2rem;
      opacity: 15%;
      transform: rotate(15deg) translate(0, -50%);
    }

    @include breakpoint(small) {
      height: 8rem;
      width: 8rem;
      right: 50%;
      transform: rotate(15deg) translate(50%, -50%);
    }
  }
}