.mobile-navigation {
  display: none;

  @include breakpoint(medium) {
    display: block;
  }

  &__hamburger {
    border: none;
    color: $clr-black;
    background-color: transparent;
  }

  &__nav-links {
    justify-items: flex-start;
    align-content: flex-start;
    width: 100vw;
    height: calc(100vh - 85px);
    position: absolute;
    top: 85px;
    left: 0;
    padding: 1.5rem;
    background-color: $clr-white;
  }

  &__link-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5rem 0;
    font-size: 1.25rem !important;
    color: $clr-black;
  }

  &__link {
    display: flex;
    gap: 1.5rem;
    align-items: center;

    &::before {
      content: "";
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background-color: var(--accent-color);
    }
  }
}