.mobile-navigation {
  display: none;

  @include breakpoint(medium) {
    display: block;
  }

  &__hamburger {
    border: none;
    background-color: transparent;
  }

  &__nav-links {
    align-content: flex-start;
    width: 100vw;
    height: calc(100vh - 85px);
    position: absolute;
    top: 85px;
    left: 0;
    padding: 1.25rem;
    background-color: $clr-white;
    overflow-y: auto;
    overscroll-behavior: contain;
  }

  &__link-container {
    display: grid;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    font-size: 1.25rem;
  }

  &__sub-link-container {
    padding-left: 3rem;
  }

  &__link {
    @include breakpoint(medium) {
      background-image: unset !important;
    }
  }
}