.mobile-navigation {
  display: none;

  @include breakpoint(medium) {
    display: unset;
    width: 100%;
  }

  &__overlay-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 1;
  }

  &__bar-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 8rem;
  }

  &__toggle {
    padding: 1rem;
    margin: -1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
      display: block;
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100%;
    padding-bottom: calc(8rem + env(safe-area-inset-bottom));
    background-color: #ECEAE7;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    overscroll-behavior: contain;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    z-index: 5;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__overlay-bar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    background-color: #ECEAE7;
  }

  &__copy {
    display: grid;
    align-content: flex-start;
    gap: 6rem;
    height: 100%;
    padding-top: 6rem;
    min-height: calc(100dvh + 6rem + env(safe-area-inset-bottom));
  }

  &__contact {
    display: grid;
    gap: 3rem;
  }

  &__links {
    display: grid;
    gap: 2rem;
  }

  &__link {
    color: $clr-black;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: -0.03em;
    cursor: pointer;
  }

  &__link-item {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    &-holder {
      position: relative;
    }
  }

  &__info {
    display: flex;

    &-col {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }

  &__preview {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}