.case-study-navigation {
  position: sticky;
  top: 8rem;
  display: grid;
  align-content: flex-start;
  gap: 1.5rem;
  color: $clr-black;
  border-radius: $border-radius;

  @include breakpoint(medium) {
    display: none;
  }

  &__links {
    display: grid;
    font-size: 1.1rem;
    gap: 1rem;

    @include breakpoint(x-large) {
      font-size: 1rem;
    }
  }

  &__link-container:not(:last-child) {
    padding-bottom: 1rem;
    border-bottom: 1px solid $clr-black-20;
  }

  &__link {
    display: inline-block;
    justify-self: flex-start;
    font-weight: 500;
    color: $clr-black;
    opacity: 0.75;
    transform: translateX(0);
    will-change: transform, color, opacity, font-weight;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out, opacity 0.3s ease-in-out, font-weight 0.3s ease-in-out;

    &:hover {
      color: $clr-black;
    }

    &.link-active {
      transform: translateX(1rem);
      font-weight: 600;
      color: var(--theme-color);
      opacity: 1;
    }
  }
}