.about {
  &__split {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    gap: 9rem;
    padding-top: 2rem;
    will-change: opacity, transform;

    @include breakpoint(medium) {
      grid-template-columns: 1fr;
    }

    @include breakpoint(small) {
      gap: 2rem;
      padding-top: 1.5rem;
    }
  }

  &__content {
    display: grid;
    gap: 2rem;
    will-change: opacity, transform;

    @include breakpoint(small) {
      gap: 0.5rem;
    }
  }

  &__image {
    object-fit: cover;
    max-height: 32rem;
  }
}