.hero {
  grid-template-rows: 1fr max-content;
  align-items: center;
  padding: 8rem 0;
  height: 100dvh;

  @include breakpoint(medium) {
    padding: 6rem 0;
  }

  &__name {
    overflow: hidden;
    white-space: nowrap;

    &--break {
      display: none;

      @include breakpoint(medium) {
        display: block;
      }
    }

    @include breakpoint(medium) {
      white-space: normal;
    }
  }

  &__body {
    grid-area: 1/2;
    display: grid;
    grid-template-rows: max-content max-content;
    gap: 4rem;
    justify-items: center;
  }

  &__cta {
    display: grid;
    gap: 2rem;
    justify-items: center;
  }

  &__tag {
    font-size: 1.5rem;
    text-align: center;

    @include breakpoint(medium) {
      font-size: 1.25rem;
    }

    @include breakpoint(small) {
      font-size: 1.1rem;
    }
  }
}