.modal {
  &__backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  &__container {
    display: grid;
    gap: 1rem;
    border-radius: 8px;
    padding: 1rem;
    width: max-content;
    height: fit-content;
    max-width: 90%;
    max-height: 90vh;
    background: $clr-white;
  }

  &__header {
    justify-self: flex-end;
  }

  &__close-button {
    background: none;
    border: none;
    will-change: transform, opacity;
    transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out;

    &:hover {
      cursor: pointer;
      transform: scale(1.25);
      opacity: 0.65;
    }
  }

  &__content {
    & p {
      max-width: unset;
    }
  }
}