.header-bar {
  color: $clr-white;
  background-color: $clr-black;
  padding: 1rem 2rem;
  border-radius: $border-radius $border-radius;
  position: relative;
  z-index: 1001;

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 8rem;

    @include breakpoint(large) {
      gap: 6rem;
    }
  }

  &__logo {
    font-family: "Satoshi", sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: -0.03rem;
    text-transform: uppercase;
    padding: 0.15rem 0;
  }

  &__tag {
    font-size: 1.1rem;
    letter-spacing: 0.02rem;

    @include breakpoint(medium) {
      display: none;
    }
  }

  &__cta {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 3rem;

    @include breakpoint(medium) {
      gap: 2rem;
    }

    @include breakpoint(small) {
      & > a {
        display: none;
      }
    }
  }

  &__toggle {
    all: unset;
    padding: 1rem;
    margin: -1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:focus-visible {
      outline: 3px solid var(--light-theme-color);
      outline-offset: 0 !important;
    }

    img {
      display: block;

    }
  }
}