.section {
  background-color: $clr-white;
  color: $clr-black;

  &__header {
    display: grid;
    padding-bottom: 2rem;

    @include breakpoint(small) {
      padding-bottom: 1.5rem;
    }
  }

  &__content {
    display: grid;
    gap: 4rem;

    @include breakpoint(small) {
      gap: 1rem;
    }
  }
}