.section {
  padding: 5rem 0;
  background-color: $clr-white;
  color: $clr-black;

  @include breakpoint(small) {
    padding: 2rem 0;
  }

  &__header {
    display: grid;
    padding-bottom: 2rem;

    @include breakpoint(small) {
      padding-bottom: 1.5rem;
    }
  }

  &__content {
    display: grid;
    gap: 6rem;

    @include breakpoint(large) {
      gap: 4rem;
    }

    @include breakpoint(medium) {
      gap: 3rem;
    }

    @include breakpoint(small) {
      gap: 2rem;
    }
  }
}