.project-summary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;

  @include breakpoint(medium) {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  &__metatags {
    align-self: flex-start;
    background-color: $clr-grey-35;
    padding: 2.5rem;
    border-radius: $border-radius;

    @include breakpoint(medium) {
      order: -1;
    }
  }

  &__left-column {
    display: grid;
    align-content: space-between;
    gap: 4rem;
    max-width: max-content;

    @include breakpoint(medium) {
      order: -1;
    }
  }

  &__content {
    display: grid;
    align-content: flex-start;
    gap: 2.5rem;
    max-width: max-content;
  }

  &__intro {
    display: grid;
    row-gap: 1.25rem;

    @include breakpoint(medium) {
      gap: 1rem;
    }
  }

  &__role {
    display: grid;
    justify-items: flex-start;
    gap: 0.75rem;
  }

  &__links {
    display: grid;
    gap: 1rem;
    justify-items: flex-start;

  }

  &__button-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    gap: 1rem;
  }
}