.content-block {
  display: grid;
  align-items: flex-start;
  gap: 1.25rem;

  &__content {
    display: grid;
    justify-items: flex-start;
    gap: 2rem;
    width: 100%;
  }

  &--subsection {
    grid-template-columns:  1fr;
    justify-items: flex-start;
    gap: 1.25rem;
    width: 100%;

    @include breakpoint(medium) {
      gap: 1rem;
    }
  }
}