.case-study-hero {
  grid-template-rows: min-content max-content;
  row-gap: 3rem;
  align-content: center;
  align-items: center;
  padding-top: 30dvh;
  background-color: $clr-white;

  @include breakpoint(medium) {
    padding-top: 35dvh;
  }

  &__header {
    overflow: hidden;
  }

  &__image-container {
    grid-column: 1/-1;
    overflow: hidden;
  }

  &__image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 65vh;
    border-radius: 0;
  }

  &__type {
    @include breakpoint(small) {
      display: inline;
    }
  }

  &__caption {
    font-size: 2.75rem;
    font-weight: 900;
    line-height: 1.5;
    letter-spacing: -0.12rem;
    text-align: center;
    text-transform: uppercase;

    @include breakpoint(medium) {
      font-size: 1.75rem;
      text-align: center;
      font-weight: 900;
    }
  }
}