// TODO: Accessibility
// Accent Colors
$clr-green: #568464;
$clr-green-light: #8AD1A0;

$clr-brown: #65503B;
$clr-brown-light: #DFBE9D;

$clr-red: #8B2942;
$clr-red-light: #D694A6;

$clr-purple: #8E2D90;
$clr-purple-light: #EBB2ED;

// Neutral
$clr-white: #EFE9E3;
$clr-white-50: #EFE9E380;
$clr-black: #201F1D;
$clr-black-50: #201F1D80;