// Neutral
$clr-white: #F1F1F1;
$clr-white-50: #ECEAE780;
$clr-grey-80: #D2D2D2CC;
$clr-grey-50: #D2D2D27F;
$clr-grey-35: #D2D2D259;
$clr-black: #201F1D;
$clr-black-80: 201F1DCC;

$border-radius: 0.35rem;