// TODO: Accessibility
// Accent Colors
$clr-green: #507A5C;
$clr-green-dark: #4A7256;
$clr-green-light: #8AD1A0;

$clr-brown: #C12A2C;
$clr-brown-dark: #9D2325;
$clr-brown-light: #F15154;

$clr-red: #8B2942;
$clr-red-dark: #6E2134;
$clr-red-light: #D694A6;

$clr-purple: #8E2D90;
$clr-purple-dark: #732575;
$clr-purple-light: #EBB2ED;

// Neutral
$clr-white: #ECEAE7;
$clr-white-50: #ECEAE780;
$clr-grey-50: #D2D2D27F;
$clr-grey-35: #D2D2D259;
$clr-black: #201F1D;
$clr-black-50: #201F1D80;

$border-radius: 0.3rem;