.case-study-page {
  display: grid;
  gap: 8rem;

  @include breakpoint(small) {
    gap: 4rem;
  }

  &__content {
    row-gap: 8rem;
  }

  &__main-content {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 16rem 1fr;
    gap: 4rem;

    @include breakpoint(large) {
      grid-template-columns: 16rem 1fr;
      gap: 2rem;
    }
  }

  &__sections {
    grid-column: 2;
    display: grid;
    gap: 4rem;

    @include breakpoint(medium) {
      gap: 3rem;
      grid-column: 1/-1;
    }
  }

  &__divider {
    border: 2px solid $clr-black;

    &:last-of-type {
      display: none;
    }
  }
}