.case-study-page {
  display: grid;
  gap: 8rem;

  @include breakpoint(small) {
    gap: 6rem;
  }

  &__main-content {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 16rem 1fr;
    gap: 4rem;

    @include breakpoint(large) {
      grid-template-columns: 16rem 1fr;
      gap: 2rem;
    }
  }

  &__sections {
    grid-column: 2;
    display: grid;
    gap: 8rem;

    @include breakpoint(medium) {
      gap: 6rem;
      grid-column: 1/-1;
    }
  }
}