.image-with-caption {
  display: grid;
  gap: 1rem;

  &__caption {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02rem;

    @include breakpoint(small) {
      font-size: 0.9rem;
    }
  }
}